* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header{
    display: flex;
    width:100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.688);
    border-style: groove;
    border-width: 10px;
    border-color: goldenrod;
    justify-content: center;
}

h1 {
    color:goldenrod;
    text-shadow: 10px black;
    font-size: 60px;
    align-items: center;
}

p {
    border-style: groove;
    border-style: solid;
    padding: 10px;
    font-size: large;
    width: 50vw;
    color: rgba(218, 165, 32, 0.615);
    background-color: black;
}

/* img{
    margin-top: 80px;
    margin-right: 60vw;
    border-radius: 20%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    box-shadow: 0px 0px 100px 10px rgba(233, 170, 9, 0.243);
} */