* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header{
    display: flex;
    width:100%;
    height: 15vh;
    background-color: black;
    border-style: groove;
    border-width: 10px;
    border-color: rgb(25, 24, 24);
    justify-content: center;
    box-shadow: inset 0px 0px 20px 1px goldenrod;
}

h1 {
    display: flex;
    color:goldenrod;
    font-size: 40px;
    align-items: center;
}

p {
    display: flex;
    margin-top: 4%;
    border-color: goldenrod;
    border-style: solid;
    padding: 5px;
    font-size: large;
    width: 50%;
    height: 10%;
    color: goldenrod;
    align-items: center;
    background-color: black;
}

h2{
    display: flex;
    margin-top: 5%;
    color: goldenrod;
    background-color: black;
    border-color: goldenrod;
    border-style: solid;
    padding: 5px;
}

button{
    display: flex;
    margin-top: 30%;
    color: goldenrod;
    background-color: black;
    border-color: goldenrod;
    border-style: solid;
    padding: 8px;
    align-items: center;
    font-size: large;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px goldenrod;
    transform: scale(1.1, 1.1);
}

/* img{
    margin-top: 80px;
    margin-right: 60vw;
    border-radius: 20%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    box-shadow: 0px 0px 100px 10px rgba(233, 170, 9, 0.243);
} */